openapi: 3.1.0
info:
  title: BALLDONTLIE
  version: "1.0.0"
  description: |
    API for accessing NBA, NFL, MLB, NCAAF, NCAAB, EPL, NHL, WNBA, and MMA statistics and data.
    Includes comprehensive endpoints for teams, players, games, statistics, and more.

servers:
  - url: https://api.balldontlie.io
    description: Production server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization

  schemas:
    # Common Components
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message

    Pagination:
      type: object
      properties:
        next_cursor:
          type: integer
          description: Cursor for the next page of results
        prev_cursor:
          type: integer
          nullable: true
          description: Cursor for the previous page of results
        per_page:
          type: integer
          description: Number of results per page

    PlayerPropMeta:
      type: object
      description: Metadata for player prop responses (no pagination - all results returned in single response)
      properties:
        per_page:
          type: integer
          description: Total number of results returned

    # NBA Components
    NBATeam:
      type: object
      properties:
        id:
          type: integer
        conference:
          type: string
          enum: [East, West]
        division:
          type: string
          enum: [Atlantic, Central, Southeast, Northwest, Pacific, Southwest]
        city:
          type: string
        name:
          type: string
        full_name:
          type: string
        abbreviation:
          type: string

    NBAPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
        height:
          type: string
        weight:
          type: string
        jersey_number:
          type: string
        college:
          type: string
        country:
          type: string
        draft_year:
          type: integer
        draft_round:
          type: integer
        draft_number:
          type: integer
        team:
          $ref: "#/components/schemas/NBATeam"

    NBAGame:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date
        season:
          type: integer
        status:
          type: string
          nullable: true
        period:
          type: integer
          nullable: true
        time:
          type: string
          nullable: true
        period_detail:
          type: string
          nullable: true
          description: Detailed period information (e.g., 'Final', '1:00 - 2nd Half')
        datetime:
          type: string
          format: date-time
          nullable: true
        postseason:
          type: boolean
        home_team_score:
          type: integer
        visitor_team_score:
          type: integer
        home_team:
          $ref: "#/components/schemas/NBATeam"
        visitor_team:
          $ref: "#/components/schemas/NBATeam"

    NBAStats:
      type: object
      properties:
        id:
          type: integer
        min:
          type: string
        fgm:
          type: integer
        fga:
          type: integer
        fg_pct:
          type: number
        fg3m:
          type: integer
        fg3a:
          type: integer
        fg3_pct:
          type: number
        ftm:
          type: integer
        fta:
          type: integer
        ft_pct:
          type: number
        oreb:
          type: integer
        dreb:
          type: integer
        reb:
          type: integer
        ast:
          type: integer
        stl:
          type: integer
        blk:
          type: integer
        turnover:
          type: integer
        pf:
          type: integer
        pts:
          type: integer
        player:
          $ref: "#/components/schemas/NBAPlayer"
        team:
          $ref: "#/components/schemas/NBATeam"
        game:
          $ref: "#/components/schemas/NBAGame"

    NBASeasonAverages:
      type: object
      properties:
        games_played:
          type: integer
        pts:
          type: number
        ast:
          type: number
        reb:
          type: number
        stl:
          type: number
        blk:
          type: number
        turnover:
          type: number
        min:
          type: string
        fgm:
          type: number
        fga:
          type: number
        fg_pct:
          type: number
        fg3m:
          type: number
        fg3a:
          type: number
        fg3_pct:
          type: number
        ftm:
          type: number
        fta:
          type: number
        ft_pct:
          type: number
        oreb:
          type: number
        dreb:
          type: number
        player_id:
          type: integer
        season:
          type: integer

    NBASeasonAverageV2:
      type: object
      properties:
        player_id:
          type: integer
        season:
          type: integer
        season_type:
          type: string
        stats:
          type: object
          additionalProperties: true

    NBAStandings:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/NBATeam"
        conference_record:
          type: string
        conference_rank:
          type: integer
        division_record:
          type: string
        division_rank:
          type: integer
        wins:
          type: integer
        losses:
          type: integer
        home_record:
          type: string
        road_record:
          type: string
        season:
          type: integer

    NBABoxScore:
      type: object
      properties:
        date:
          type: string
          format: date
        season:
          type: integer
        status:
          type: string
        period:
          type: integer
        time:
          type: string
        postseason:
          type: boolean
        home_team_score:
          type: integer
        visitor_team_score:
          type: integer
        home_team:
          type: object
          properties:
            team:
              $ref: "#/components/schemas/NBATeam"
            players:
              type: array
              items:
                type: object
                properties:
                  min:
                    type: string
                  fgm:
                    type: integer
                  fga:
                    type: integer
                  fg_pct:
                    type: number
                  fg3m:
                    type: integer
                  fg3a:
                    type: integer
                  fg3_pct:
                    type: number
                  ftm:
                    type: integer
                  fta:
                    type: integer
                  ft_pct:
                    type: number
                  oreb:
                    type: integer
                  dreb:
                    type: integer
                  reb:
                    type: integer
                  ast:
                    type: integer
                  stl:
                    type: integer
                  blk:
                    type: integer
                  turnover:
                    type: integer
                  pf:
                    type: integer
                  pts:
                    type: integer
                  player:
                    $ref: "#/components/schemas/NBAPlayer"
        visitor_team:
          type: object
          properties:
            team:
              $ref: "#/components/schemas/NBATeam"
            players:
              type: array
              items:
                type: object
                properties:
                  min:
                    type: string
                  fgm:
                    type: integer
                  fga:
                    type: integer
                  fg_pct:
                    type: number
                  fg3m:
                    type: integer
                  fg3a:
                    type: integer
                  fg3_pct:
                    type: number
                  ftm:
                    type: integer
                  fta:
                    type: integer
                  ft_pct:
                    type: number
                  oreb:
                    type: integer
                  dreb:
                    type: integer
                  reb:
                    type: integer
                  ast:
                    type: integer
                  stl:
                    type: integer
                  blk:
                    type: integer
                  turnover:
                    type: integer
                  pf:
                    type: integer
                  pts:
                    type: integer
                  player:
                    $ref: "#/components/schemas/NBAPlayer"

    NBALineup:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the lineup entry
        game_id:
          type: integer
          description: ID of the game this lineup belongs to
        starter:
          type: boolean
          description: Whether the player is a starter (true) or bench player (false)
        position:
          type: string
          description: Position the player is listed at for this game
        player:
          type: object
          description: Player information (slim version with team_id)
          properties:
            id:
              type: integer
            first_name:
              type: string
            last_name:
              type: string
            position:
              type: string
            height:
              type: string
            weight:
              type: string
            jersey_number:
              type: string
            college:
              type: string
            country:
              type: string
            draft_year:
              type: integer
            draft_round:
              type: integer
            draft_number:
              type: integer
            team_id:
              type: integer
              description: ID of the player's current team
        team:
          $ref: "#/components/schemas/NBATeam"

    NBAPlayerInjury:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NBAPlayer"
        return_date:
          type: string
        description:
          type: string
        status:
          type: string

    NBALeader:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NBAPlayer"
        value:
          type: number
        stat_type:
          type: string
          enum: [reb, dreb, tov, ast, oreb, min, pts, stl, blk]
        rank:
          type: integer
        season:
          type: integer
        games_played:
          type: integer

    NBAAdvancedStats:
      type: object
      properties:
        id:
          type: integer
        pie:
          type: number
        pace:
          type: number
        assist_percentage:
          type: number
        assist_ratio:
          type: number
        assist_to_turnover:
          type: number
        defensive_rating:
          type: number
        defensive_rebound_percentage:
          type: number
        effective_field_goal_percentage:
          type: number
        net_rating:
          type: number
        offensive_rating:
          type: number
        offensive_rebound_percentage:
          type: number
        rebound_percentage:
          type: number
        true_shooting_percentage:
          type: number
        turnover_ratio:
          type: number
        usage_percentage:
          type: number
        player:
          $ref: "#/components/schemas/NBAPlayer"
        team:
          $ref: "#/components/schemas/NBATeam"
        game:
          $ref: "#/components/schemas/NBAGame"

    NBABettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total points line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    NBAPlayerPropMarketOverUnder:
      type: object
      description: Over/under market type for player props
      required:
        - type
        - over_odds
        - under_odds
      properties:
        type:
          type: string
          enum: [over_under]
          description: Market type identifier
        over_odds:
          type: integer
          description: American odds for over bet
        under_odds:
          type: integer
          description: American odds for under bet

    NBAPlayerPropMarketMilestone:
      type: object
      description: Milestone market type for player props
      required:
        - type
        - odds
      properties:
        type:
          type: string
          enum: [milestone]
          description: Market type identifier
        odds:
          type: integer
          description: American odds for milestone bet

    NBAPlayerProp:
      type: object
      description: NBA player prop betting data
      required:
        - id
        - game_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          description: Unique player prop ID
        game_id:
          type: integer
          description: NBA game ID
        player_id:
          type: integer
          description: NBA player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - draftkings
            - betway
            - betrivers
            - ballybet
        prop_type:
          type: string
          description: Type of player prop
          enum:
            - points
            - rebounds
            - assists
            - threes
            - steals
            - blocks
            - points_1q
            - rebounds_1q
            - assists_1q
            - points_first3min
            - rebounds_first3min
            - assists_first3min
          example: points
        line_value:
          type: string
          description: The line value for the prop
          example: "25.5"
        market:
          oneOf:
            - $ref: "#/components/schemas/NBAPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/NBAPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated

    NBAContract:
      type: object
      properties:
        id:
          type: integer
          description: Contract ID
        player_id:
          type: integer
          description: Player ID
        season:
          type: integer
          description: Contract season year
        team_id:
          type: integer
          description: Team ID
        cap_hit:
          type: integer
          nullable: true
          description: Annual salary cap hit in dollars
        total_cash:
          type: integer
          nullable: true
          description: Total cash payment for the season in dollars
        base_salary:
          type: integer
          nullable: true
          description: Base salary in dollars
        rank:
          type: integer
          nullable: true
          description: Salary rank
        player:
          type: object
          description: Player information
          properties:
            id:
              type: integer
            first_name:
              type: string
            last_name:
              type: string
            position:
              type: string
            height:
              type: string
            weight:
              type: string
            jersey_number:
              type: string
            college:
              type: string
            country:
              type: string
            draft_year:
              type: integer
            draft_round:
              type: integer
            draft_number:
              type: integer
            team_id:
              type: integer
        team:
          $ref: "#/components/schemas/NBATeam"

    NBAContractAggregate:
      type: object
      properties:
        id:
          type: integer
          description: Contract aggregate ID
        player_id:
          type: integer
          description: Player ID
        start_year:
          type: integer
          description: First year of contract
        end_year:
          type: integer
          description: Last year of contract
        contract_type:
          type: string
          description: Contract type (e.g., Rookie, Free Agent, Extension)
        contract_status:
          type: string
          nullable: true
          description: Contract status (e.g., CURRENT, UPCOMING EXTENSION)
        contract_years:
          type: integer
          nullable: true
          description: Number of years in contract
        total_value:
          type: integer
          nullable: true
          description: Total contract value in dollars
        average_salary:
          type: integer
          nullable: true
          description: Average annual salary in dollars
        guaranteed_at_signing:
          type: integer
          nullable: true
          description: Guaranteed amount at signing in dollars
        total_guaranteed:
          type: integer
          nullable: true
          description: Total guaranteed amount in dollars
        signed_using:
          type: string
          nullable: true
          description: Exception or method used to sign (e.g., Bird Rights, Cap Space)
        free_agent_year:
          type: integer
          nullable: true
          description: Year player becomes a free agent
        free_agent_status:
          type: string
          nullable: true
          description: Free agent status (e.g., UFA, RFA)
        contract_notes:
          type: object
          nullable: true
          description: Additional contract notes (options, escalators, etc.)
        team_id:
          type: integer
          nullable: true
          description: Team ID that signed the contract
        player:
          type: object
          description: Player information
          properties:
            id:
              type: integer
            first_name:
              type: string
            last_name:
              type: string
            position:
              type: string
            height:
              type: string
            weight:
              type: string
            jersey_number:
              type: string
            college:
              type: string
            country:
              type: string
            draft_year:
              type: integer
            draft_round:
              type: integer
            draft_number:
              type: integer
            team_id:
              type: integer
        team:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/NBATeam"

    NBALineup:
      type: object
      properties:
        id:
          type: integer
          description: Lineup entry ID
        game_id:
          type: integer
          description: Game ID
        starter:
          type: boolean
          description: Whether the player started the game
        position:
          type: string
          nullable: true
          description: Player's position in the lineup
        player:
          type: object
          description: Player information (slim version with team_id instead of nested team)
          properties:
            id:
              type: integer
            first_name:
              type: string
            last_name:
              type: string
            position:
              type: string
            height:
              type: string
            weight:
              type: string
            jersey_number:
              type: string
            college:
              type: string
            country:
              type: string
            draft_year:
              type: integer
            draft_round:
              type: integer
            draft_number:
              type: integer
            team_id:
              type: integer
              description: ID of the player's current team
        team:
          $ref: "#/components/schemas/NBATeam"

    NFLTeam:
      type: object
      properties:
        id:
          type: integer
        conference:
          type: string
          enum: [AFC, NFC]
        division:
          type: string
          enum: [NORTH, SOUTH, EAST, WEST]
        location:
          type: string
        name:
          type: string
        full_name:
          type: string
        abbreviation:
          type: string

    NFLPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
        position_abbreviation:
          type: string
        height:
          type: string
        weight:
          type: string
        jersey_number:
          type: string
        college:
          type: string
        experience:
          type: string
        age:
          type: integer
        team:
          $ref: "#/components/schemas/NFLTeam"


    NFLRosterPlayer:
      type: object
      description: NFL player object without team reference (used in roster responses)
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
        position_abbreviation:
          type: string
        height:
          type: string
          nullable: true
        weight:
          type: string
          nullable: true
        jersey_number:
          type: string
          nullable: true
        college:
          type: string
          nullable: true
        experience:
          type: string
          nullable: true
        age:
          type: integer
          nullable: true

    NFLRosterEntry:
      type: object
      description: NFL team roster entry with depth chart information
      properties:
        player:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/NFLRosterPlayer"
        position:
          type: string
          description: Position on the depth chart
        depth:
          type: integer
          description: Depth chart position (1 = starter, 2 = backup, etc.)
        player_name:
          type: string
          description: Player name
        injury_status:
          type: string
          nullable: true
          description: Current injury status if applicable
    NFLGame:
      type: object
      properties:
        id:
          type: integer
        visitor_team:
          $ref: "#/components/schemas/NFLTeam"
        home_team:
          $ref: "#/components/schemas/NFLTeam"
        summary:
          type: string
        venue:
          type: string
        week:
          type: integer
        date:
          type: string
          format: date-time
        season:
          type: integer
        postseason:
          type: boolean
        status:
          type: string
        home_team_score:
          type: integer
        visitor_team_score:
          type: integer
        home_team_q1:
          type: integer
        home_team_q2:
          type: integer
        home_team_q3:
          type: integer
        home_team_q4:
          type: integer
        home_team_ot:
          type: integer
        visitor_team_q1:
          type: integer
        visitor_team_q2:
          type: integer
        visitor_team_q3:
          type: integer
        visitor_team_q4:
          type: integer
        visitor_team_ot:
          type: integer

    NFLStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        team:
          $ref: "#/components/schemas/NFLTeam"
        game:
          $ref: "#/components/schemas/NFLGame"
        passing_completions:
          type: integer
        passing_attempts:
          type: integer
        passing_yards:
          type: integer
        yards_per_pass_attempt:
          type: integer
        passing_touchdowns:
          type: integer
        passing_interceptions:
          type: integer
        sacks:
          type: integer
        sacks_loss:
          type: integer
        qbr:
          type: integer
        qb_rating:
          type: integer
        rushing_attempts:
          type: integer
        rushing_yards:
          type: integer
        yards_per_rush_attempt:
          type: integer
        rushing_touchdowns:
          type: integer
        long_rushing:
          type: integer
        receptions:
          type: integer
        receiving_yards:
          type: integer
        yards_per_reception:
          type: integer
        receiving_touchdowns:
          type: integer
        long_reception:
          type: integer
        receiving_targets:
          type: integer
        fumbles:
          type: integer
        fumbles_lost:
          type: integer
        fumbles_recovered:
          type: integer
        total_tackles:
          type: integer
        defensive_sacks:
          type: integer
        solo_tackles:
          type: integer
        tackles_for_loss:
          type: integer
        passes_defended:
          type: integer
        qb_hits:
          type: integer
        fumbles_touchdowns:
          type: integer
        defensive_interceptions:
          type: integer
        interception_yards:
          type: integer
        interception_touchdowns:
          type: integer
        kick_returns:
          type: integer
        kick_return_yards:
          type: integer
        yards_per_kick_return:
          type: integer
        long_kick_return:
          type: integer
        kick_return_touchdowns:
          type: integer
        punt_returns:
          type: integer
        punt_return_yards:
          type: integer
        yards_per_punt_return:
          type: integer
        long_punt_return:
          type: integer
        punt_return_touchdowns:
          type: integer
        field_goal_attempts:
          type: integer
        field_goals_made:
          type: integer
        field_goal_pct:
          type: integer
        long_field_goal_made:
          type: integer
        extra_points_made:
          type: integer
        total_points:
          type: integer
        punts:
          type: integer
        punt_yards:
          type: integer
        gross_avg_punt_yards:
          type: integer
        touchbacks:
          type: integer
        punts_inside_20:
          type: integer
        long_punt:
          type: integer

    NFLStandings:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/NFLTeam"
        win_streak:
          type: integer
        points_for:
          type: integer
        points_against:
          type: integer
        playoff_seed:
          type: integer
        point_differential:
          type: integer
        overall_record:
          type: string
        conference_record:
          type: string
        division_record:
          type: string
        wins:
          type: integer
        losses:
          type: integer
        ties:
          type: integer
        home_record:
          type: string
        road_record:
          type: string
        season:
          type: integer

    NFLPlayerInjury:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        status:
          type: string
        comment:
          type: string
        date:
          type: string
          format: date-time

    NFLSeasonStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        games_played:
          type: integer
        season:
          type: integer
        postseason:
          type: boolean
        passing_completions:
          type: integer
        passing_attempts:
          type: integer
        passing_yards:
          type: integer
        passing_yards_per_game:
          type: number
        passing_touchdowns:
          type: integer
        passing_interceptions:
          type: integer
        passing_completion_pct:
          type: number
        passing_first_downs:
          type: integer
        passing_first_down_pct:
          type: number
        passing_20_plus_yards:
          type: integer
        passing_40_plus_yards:
          type: integer
        passing_long:
          type: integer
        passing_sacks:
          type: integer
        passing_sack_yards:
          type: integer
        qb_rating:
          type: number
        rushing_attempts:
          type: integer
        rushing_yards:
          type: integer
        rushing_yards_per_game:
          type: number
        rushing_average:
          type: number
        rushing_touchdowns:
          type: integer
        rushing_first_downs:
          type: integer
        rushing_first_down_pct:
          type: number
        rushing_20_plus_yards:
          type: integer
        rushing_40_plus_yards:
          type: integer
        rushing_long:
          type: integer
        rushing_fumbles:
          type: integer
        receptions:
          type: integer
        receiving_yards:
          type: integer
        receiving_yards_per_game:
          type: number
        receiving_average:
          type: number
        receiving_touchdowns:
          type: integer
        receiving_targets:
          type: integer
        receiving_first_downs:
          type: integer
        receiving_first_down_pct:
          type: number
        receiving_20_plus_yards:
          type: integer
        receiving_40_plus_yards:
          type: integer
        receiving_long:
          type: integer
        receiving_fumbles:
          type: integer
        fumbles:
          type: integer
        fumbles_lost:
          type: integer
        fumbles_forced:
          type: integer
        fumbles_recovered:
          type: integer
        fumbles_touchdowns:
          type: integer

    NFLAdvancedRushingStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        season:
          type: integer
        week:
          type: integer
        postseason:
          type: boolean
        avg_time_to_los:
          type: number
        expected_rush_yards:
          type: number
        rush_attempts:
          type: integer
        rush_pct_over_expected:
          type: number
        rush_touchdowns:
          type: integer
        rush_yards:
          type: integer
        rush_yards_over_expected:
          type: number
        rush_yards_over_expected_per_att:
          type: number
        efficiency:
          type: number
        percent_attempts_gte_eight_defenders:
          type: number
        avg_rush_yards:
          type: number

    NFLAdvancedPassingStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        season:
          type: integer
        week:
          type: integer
        postseason:
          type: boolean
        aggressiveness:
          type: number
        attempts:
          type: integer
        avg_air_distance:
          type: number
        avg_air_yards_differential:
          type: number
        avg_air_yards_to_sticks:
          type: number
        avg_completed_air_yards:
          type: number
        avg_intended_air_yards:
          type: number
        avg_time_to_throw:
          type: number
        completion_percentage:
          type: number
        completion_percentage_above_expectation:
          type: number
        completions:
          type: integer
        expected_completion_percentage:
          type: number
        games_played:
          type: number
        interceptions:
          type: number
        max_air_distance:
          type: number
        max_completed_air_distance:
          type: number
        pass_touchdowns:
          type: number
        pass_yards:
          type: number
        passer_rating:
          type: number

    NFLAdvancedReceivingStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        season:
          type: integer
        week:
          type: integer
        postseason:
          type: boolean
        avg_cushion:
          type: number
        avg_expected_yac:
          type: number
        avg_intended_air_yards:
          type: number
        avg_separation:
          type: number
        avg_yac:
          type: number
        avg_yac_above_expectation:
          type: number
        catch_percentage:
          type: number
        percent_share_of_intended_air_yards:
          type: number
        rec_touchdowns:
          type: integer
        receptions:
          type: integer
        targets:
          type: integer
        yards:
          type: integer

    NFLBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total points line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    NFLPlayerPropMarketOverUnder:
      type: object
      description: Over/under market type for NFL player props
      required:
        - type
        - over_odds
        - under_odds
      properties:
        type:
          type: string
          enum: [over_under]
          description: Market type identifier
        over_odds:
          type: integer
          description: American odds for over bet
        under_odds:
          type: integer
          description: American odds for under bet

    NFLPlayerPropMarketMilestone:
      type: object
      description: Milestone market type for NFL player props
      required:
        - type
        - odds
      properties:
        type:
          type: string
          enum: [milestone]
          description: Market type identifier
        odds:
          type: integer
          description: American odds for milestone bet

    NFLPlayerProp:
      type: object
      description: NFL player prop betting data
      required:
        - id
        - game_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          description: Unique player prop ID
        game_id:
          type: integer
          description: NFL game ID
        player_id:
          type: integer
          description: NFL player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - draftkings
            - betway
            - betrivers
            - ballybet
            - betparx
        prop_type:
          type: string
          description: Type of player prop
          enum:
            - anytime_td
            - anytime_td_1h
            - anytime_td_1q
            - anytime_td_2h
            - fg_made
            - fg_made_1h
            - first_td
            - interceptions
            - kicking_points
            - longest_pass
            - longest_reception
            - longest_rush
            - passing_attempts
            - passing_completions
            - passing_tds
            - passing_tds_1h
            - passing_yards
            - passing_yards_1h
            - receiving_yards
            - receiving_yards_1h
            - receptions
            - rushing_attempts
            - rushing_receiving_yards
            - rushing_yards
            - rushing_yards_1h
          example: rushing_yards
        line_value:
          type: string
          description: The line value for the prop
          example: "275.5"
        market:
          oneOf:
            - $ref: "#/components/schemas/NFLPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/NFLPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated

    NFLTeamSeasonStat:
      type: object
      description: Comprehensive team season statistics including offense, defense, special teams, and opponent stats
      properties:
        team:
          $ref: "#/components/schemas/NFLTeam"
        season:
          type: integer
        season_type:
          type: integer
          description: Season type (2 = regular season, 3 = postseason)
        games_played:
          type: number
          nullable: true
        total_offensive_yards:
          type: number
          nullable: true
          description: Total offensive yards (corrected from passing_total_yards)
        total_offensive_yards_per_game:
          type: number
          nullable: true
        total_points:
          type: number
          nullable: true
        total_points_per_game:
          type: number
          nullable: true
        passing_completions:
          type: number
          nullable: true
        passing_yards:
          type: number
          nullable: true
        passing_yards_per_game:
          type: number
          nullable: true
        passing_attempts:
          type: number
          nullable: true
        passing_touchdowns:
          type: number
          nullable: true
        passing_interceptions:
          type: number
          nullable: true
        rushing_yards:
          type: number
          nullable: true
        rushing_yards_per_game:
          type: number
          nullable: true
        rushing_attempts:
          type: number
          nullable: true
        rushing_touchdowns:
          type: number
          nullable: true
        receiving_receptions:
          type: number
          nullable: true
        receiving_yards:
          type: number
          nullable: true
        receiving_touchdowns:
          type: number
          nullable: true
        # Note: Schema includes 200+ additional fields for detailed stats, special teams, and opponent stats

    NFLTeamStat:
      type: object
      description: Team game statistics
      properties:
        game:
          $ref: "#/components/schemas/NFLGame"
        team:
          $ref: "#/components/schemas/NFLTeam"
        home_away:
          type: string
          description: Whether team is home or away
        first_downs:
          type: integer
          nullable: true
        first_downs_passing:
          type: integer
          nullable: true
        first_downs_rushing:
          type: integer
          nullable: true
        third_down_efficiency:
          type: string
          nullable: true
        third_down_conversions:
          type: integer
          nullable: true
        third_down_attempts:
          type: integer
          nullable: true
        total_yards:
          type: integer
          nullable: true
        yards_per_play:
          type: integer
          nullable: true
        net_passing_yards:
          type: integer
          nullable: true
        passing_completions:
          type: integer
          nullable: true
        passing_attempts:
          type: integer
          nullable: true
        sacks:
          type: integer
          nullable: true
        rushing_yards:
          type: integer
          nullable: true
        rushing_attempts:
          type: integer
          nullable: true
        turnovers:
          type: integer
          nullable: true
        fumbles_lost:
          type: integer
          nullable: true
        interceptions_thrown:
          type: integer
          nullable: true
        penalties:
          type: integer
          nullable: true
        penalty_yards:
          type: integer
          nullable: true
        possession_time:
          type: string
          nullable: true

    NFLPlay:
      type: object
      description: Play-by-play data for NFL games
      properties:
        id:
          type: string
        game:
          $ref: "#/components/schemas/NFLGame"
        type_slug:
          type: string
          nullable: true
        type_abbreviation:
          type: string
          nullable: true
        type_text:
          type: string
          nullable: true
        text:
          type: string
          description: Full play description
        short_text:
          type: string
          nullable: true
        away_score:
          type: integer
        home_score:
          type: integer
        scoring_play:
          type: boolean
        period:
          type: integer
        clock_display:
          type: string
          nullable: true
        team:
          allOf:
            - $ref: "#/components/schemas/NFLTeam"
          nullable: true
        start_yard_line:
          type: integer
          nullable: true
        start_down:
          type: integer
          nullable: true
        start_distance:
          type: integer
          nullable: true
        end_yard_line:
          type: integer
          nullable: true
        end_down:
          type: integer
          nullable: true
        end_distance:
          type: integer
          nullable: true
        stat_yardage:
          type: integer
          nullable: true
        home_win_probability:
          type: number
          nullable: true
        wallclock:
          type: string
          format: date-time
          nullable: true
          description: Real-time timestamp of the play

    MLBTeam:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
        abbreviation:
          type: string
        display_name:
          type: string
        short_display_name:
          type: string
        name:
          type: string
        location:
          type: string
        league:
          type: string
          enum: [American, National]
        division:
          type: string
          enum: [East, Central, West]

    MLBPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        debut_year:
          type: integer
          nullable: true
        jersey:
          type: string
        college:
          type: string
        position:
          type: string
        active:
          type: boolean
        birth_place:
          type: string
        dob:
          type: string
        age:
          type: integer
          nullable: true
        height:
          type: string
        weight:
          type: string
        draft:
          type: string
        bats_throws:
          type: string
        team:
          $ref: "#/components/schemas/MLBTeam"

    MLBGame:
      type: object
      properties:
        id:
          type: integer
        home_team_name:
          type: string
        away_team_name:
          type: string
        home_team:
          $ref: "#/components/schemas/MLBTeam"
        away_team:
          $ref: "#/components/schemas/MLBTeam"
        season:
          type: integer
        postseason:
          type: boolean
        date:
          type: string
          format: date-time
        home_team_data:
          type: object
          properties:
            hits:
              type: integer
            runs:
              type: integer
            errors:
              type: integer
            inning_scores:
              type: array
              items:
                type: integer
        away_team_data:
          type: object
          properties:
            hits:
              type: integer
            runs:
              type: integer
            errors:
              type: integer
            inning_scores:
              type: array
              items:
                type: integer
        venue:
          type: string
        attendance:
          type: integer
        conference_play:
          type: boolean
        period:
          type: integer
          nullable: true
        clock:
          type: string
          nullable: true
        display_clock:
          type: string
          nullable: true
        scoring_summary:
          type: array
          items:
            type: object
        status:
          type: string

    MLBStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/MLBPlayer"
        game:
          $ref: "#/components/schemas/MLBGame"
        team_name:
          type: string
        at_bats:
          type: integer
        runs:
          type: integer
        hits:
          type: integer
        rbi:
          type: integer
        hr:
          type: integer
        bb:
          type: integer
        k:
          type: integer
        avg:
          type: number
        obp:
          type: number
        slg:
          type: number
        ip:
          type: number
        p_hits:
          type: integer
        p_runs:
          type: integer
        er:
          type: integer
        p_bb:
          type: integer
        p_k:
          type: integer
        p_hr:
          type: integer
        pitch_count:
          type: integer
        strikes:
          type: integer
        era:
          type: number

    MLBStandings:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/MLBTeam"
        league_name:
          type: string
        league_short_name:
          type: string
        division_name:
          type: string
        division_short_name:
          type: string
        wins:
          type: integer
        losses:
          type: integer
        win_percent:
          type: number
        games_behind:
          type: number
        streak:
          type: integer
        last_ten_games:
          type: string
        season:
          type: integer
        clinch_indicator:
          type: string
        elimination_number:
          type: integer
        wild_card_elimination_number:
          type: integer
        league_rank:
          type: integer
        sport_rank:
          type: integer
        division_rank:
          type: integer
        league_games_back:
          type: number
        sport_games_back:
          type: number
        division_games_back:
          type: number
        conference_games_back:
          type: number
        division_leader:
          type: boolean
        division_champ:
          type: boolean
        runs_allowed:
          type: integer
        runs_scored:
          type: integer
        run_differential:
          type: integer
        home_wins:
          type: integer
        home_losses:
          type: integer
        away_wins:
          type: integer
        away_losses:
          type: integer
        last_updated:
          type: string
        records:
          type: object
        day_wins:
          type: integer
        day_losses:
          type: integer
        night_wins:
          type: integer
        night_losses:
          type: integer
        one_run_wins:
          type: integer
        one_run_losses:
          type: integer
        extra_inning_wins:
          type: integer
        extra_inning_losses:
          type: integer

    MLBSeasonStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/MLBPlayer"
        team_name:
          type: string
        season:
          type: integer
        postseason:
          type: boolean
        batting_gp:
          type: integer
        batting_ab:
          type: integer
        batting_r:
          type: integer
        batting_h:
          type: integer
        batting_avg:
          type: number
        batting_2b:
          type: integer
        batting_3b:
          type: integer
        batting_hr:
          type: integer
        batting_rbi:
          type: integer
        batting_tb:
          type: integer
        batting_bb:
          type: integer
        batting_so:
          type: integer
        batting_sb:
          type: integer
        batting_obp:
          type: number
        batting_slg:
          type: number
        batting_ops:
          type: number
        batting_war:
          type: number
        pitching_gp:
          type: integer
        pitching_gs:
          type: integer
        pitching_qs:
          type: integer
        pitching_w:
          type: integer
        pitching_l:
          type: integer
        pitching_era:
          type: number
        pitching_sv:
          type: integer
        pitching_hld:
          type: integer
        pitching_ip:
          type: number
        pitching_h:
          type: integer
        pitching_er:
          type: integer
        pitching_hr:
          type: integer
        pitching_bb:
          type: integer
        pitching_whip:
          type: number
        pitching_k:
          type: integer
        pitching_k_per_9:
          type: number
        pitching_war:
          type: number
        fielding_gp:
          type: integer
        fielding_gs:
          type: integer
        fielding_fip:
          type: number
        fielding_tc:
          type: integer
        fielding_po:
          type: integer
        fielding_a:
          type: integer
        fielding_fp:
          type: number
        fielding_e:
          type: integer
        fielding_dp:
          type: integer
        fielding_rf:
          type: number
        fielding_dwar:
          type: number
        fielding_pb:
          type: integer
        fielding_cs:
          type: integer
        fielding_cs_percent:
          type: number
        fielding_sba:
          type: integer

    MLBTeamSeasonStats:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/MLBTeam"
        team_name:
          type: string
        postseason:
          type: boolean
        season:
          type: integer
        gp:
          type: integer
        batting_ab:
          type: integer
        batting_r:
          type: integer
        batting_h:
          type: integer
        batting_2b:
          type: integer
        batting_3b:
          type: integer
        batting_hr:
          type: integer
        batting_rbi:
          type: integer
        batting_tb:
          type: integer
        batting_bb:
          type: integer
        batting_so:
          type: integer
        batting_sb:
          type: integer
        batting_avg:
          type: number
        batting_obp:
          type: number
        batting_slg:
          type: number
        batting_ops:
          type: number
        pitching_w:
          type: integer
        pitching_l:
          type: integer
        pitching_era:
          type: number
        pitching_sv:
          type: integer
        pitching_cg:
          type: integer
        pitching_sho:
          type: integer
        pitching_qs:
          type: integer
        pitching_ip:
          type: number
        pitching_h:
          type: integer
        pitching_er:
          type: integer
        pitching_hr:
          type: integer
        pitching_bb:
          type: integer
        pitching_k:
          type: integer
        pitching_oba:
          type: number
        pitching_whip:
          type: number
        fielding_e:
          type: integer
        fielding_fp:
          type: number
        fielding_tc:
          type: integer
        fielding_po:
          type: integer
        fielding_a:
          type: integer

    EPLPlayerStatEnum:
      type: string
      enum: &PLAYER_STAT_TYPES [
        "goals",
        "goal_assist",
        "clean_sheet",
        "appearances",
        "mins_played",
        "yellow_card",
        "red_card",
        "total_pass",
        "touches",
        "total_scoring_att",
        "hit_woodwork",
        "big_chance_missed",
        "total_offside",
        "total_tackle",
        "fouls",
        "dispossessed",
        "own_goals",
        "total_clearance",
        "clearance_off_line",
        "saves",
        "penalty_save", 
        "total_high_claim",
        "punches"
      ]

    EPLTeamStatEnum:
      type: string  
      enum: &TEAM_STAT_TYPES [
        "wins",
        "losses",
        "touches",
        "own_goals",
        "total_yel_card",
        "total_red_card",
        "goals",
        "total_pass",
        "total_scoring_att",
        "total_offside",
        "hit_woodwork",
        "big_chance_missed",
        "total_tackle",
        "total_clearance",
        "clearance_off_line",
        "dispossessed",
        "clean_sheet",
        "saves",
        "penalty_save",
        "total_high_claim",
        "punches"
      ]

    EPLTeam:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        short_name:
          type: string
        abbr:
          type: string
        city:
          type: string
        stadium:
          type: string

    EPLPlayer:
      type: object
      properties:
        id:
          type: integer
        position:
          type: string
          nullable: true
        national_team:
          type: string
          nullable: true
        height:
          type: integer
          nullable: true
        weight:
          type: integer
          nullable: true
        birth_date:
          type: string
          format: date-time
          nullable: true
        age:
          type: string
          nullable: true
        name:
          type: string
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        team_ids:
          type: array
          nullable: true
          items:
            type: integer

    EPLTeamSeasonStat:
      type: object
      properties:
        value:
          type: number
        name:
          type: string
        rank:
          type: integer
        season:
          type: integer

    EPLPlayerSeasonStat:
      type: object
      properties:
        value:
          type: number
        name:
          type: string
        rank:
          type: integer
        season:
          type: integer

    EPLGame:
      type: object
      properties:
        id:
          type: integer
        week:
          type: integer
        kickoff:
          type: string
          format: date-time
          nullable: true
        provisional_kickoff:
          type: string
          format: date-time
          nullable: true
        home_team_id:
          type: integer
        away_team_id:
          type: integer
        home_score:
          type: integer
          nullable: true
        away_score:
          type: integer
          nullable: true
        status:
          type: string
          nullable: true
        season:
          type: integer
        ground:
          type: string
          nullable: true
        clock:
          type: integer
          nullable: true
        clock_display:
          type: string
          nullable: true
        extra_time:
          type: boolean
          nullable: true

    EPLGameLineup:
      type: object
      properties:
        team_id:
          type: integer
        player:
          $ref: '#/components/schemas/EPLPlayer'
        substitute:
          type: boolean
        captain:
          type: boolean
        position:
          type: string
          nullable: true
        shirt_number:
          type: integer
          nullable: true
        sub_clock:
          type: integer
          nullable: true
        sub_clock_display:
          type: string
          nullable: true

    EPLGameGoal:
      type: object
      properties:
        game_id:
          type: integer
        scorer:
          $ref: '#/components/schemas/EPLPlayer'
        assister:
          $ref: '#/components/schemas/EPLPlayer'
          nullable: true
        clock:
          type: integer
        clock_display:
          type: string
          nullable: true
        phase:
          type: string
          nullable: true
        type:
          type: string
          nullable: true

    EPLGameTeamStats:
      type: object
      properties:
        game_id:
          type: integer
        teams:
          type: array
          items:
            type: object
            properties:
              team_id:
                type: integer
              stats:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: number

    EPLGamePlayerStats:
      type: object
      properties:
        game_id:
          type: integer
        players:
          type: array
          items:
            type: object
            properties:
              team_id:
                type: integer
              player_id:
                type: integer
              stats:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: number

    EPLStanding:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/EPLTeam'
        season:
          type: integer
        position:
          type: integer
        form:
          type: string
        home_played:
          type: integer
        home_drawn:
          type: integer
        home_won:
          type: integer
        home_lost:
          type: integer
        home_goals_against:
          type: integer
        home_goals_difference:
          type: integer
        home_goals_for:
          type: integer
        home_points:
          type: integer
        away_played:
          type: integer
        away_drawn:
          type: integer
        away_won:
          type: integer
        away_lost:
          type: integer
        away_goals_against:
          type: integer
        away_goals_difference:
          type: integer
        away_goals_for:
          type: integer
        away_points:
          type: integer
        overall_played:
          type: integer
        overall_drawn:
          type: integer
        overall_won:
          type: integer
        overall_lost:
          type: integer
        overall_goals_against:
          type: integer
        overall_goals_difference:
          type: integer
        overall_goals_for:
          type: integer
        overall_points:
          type: integer

    EPLPlayerStatLeaders:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/EPLPlayer'
        season:
          type: integer
        rank:
          type: integer
        value:
          type: number
        name:
          type: string

    EPLTeamStatLeaders:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/EPLTeam'
        season:
          type: integer
        rank:
          type: integer
        value:
          type: number
        name:
          type: string

    EPLBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        moneyline_draw_odds:
          type: integer
          nullable: true
          description: Draw moneyline odds
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    EPLPlayerPropMarketOverUnder:
      type: object
      description: Over/under market type for EPL player props
      required:
        - type
        - over_odds
        - under_odds
      properties:
        type:
          type: string
          enum: [over_under]
          description: Market type identifier
        over_odds:
          type: integer
          description: American odds for over bet
        under_odds:
          type: integer
          description: American odds for under bet

    EPLPlayerPropMarketMilestone:
      type: object
      description: Milestone market type for EPL player props
      required:
        - type
        - odds
      properties:
        type:
          type: string
          enum: [milestone]
          description: Market type identifier
        odds:
          type: integer
          description: American odds for milestone bet

    EPLPlayerProp:
      type: object
      description: EPL player prop betting data
      required:
        - id
        - game_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          description: Unique player prop ID
        game_id:
          type: integer
          description: EPL game ID
        player_id:
          type: integer
          description: EPL player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - draftkings
            - fanduel
            - caesars
        prop_type:
          type: string
          description: Type of player prop
          enum:
            - anytime_goal
            - assists
            - first_goal
            - first_half_goal
            - goals_assists
            - header_goal
            - last_goal
            - outside_box_goal
            - saves
            - second_half_goal
            - shots
            - shots_on_target
            - tackles
          example: anytime_goal
        line_value:
          type: string
          description: The line value for the prop
          example: "1.0"
        market:
          oneOf:
            - $ref: "#/components/schemas/EPLPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/EPLPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated

    WNBATeam:
      type: object
      properties:
        id:
          type: integer
          description: Team ID
        conference:
          type: string
          description: Conference name
        city:
          type: string
          description: Team city
        name:
          type: string
          description: Team name
        full_name:
          type: string
          description: Team full name
        abbreviation:
          type: string
          description: Team abbreviation

    WNBAPlayer:
      type: object
      properties:
        id:
          type: integer
          description: Player ID
        first_name:
          type: string
          description: Player first name
        last_name:
          type: string
          description: Player last name
        position:
          type: string
          description: Player position
        position_abbreviation:
          type: string
          description: Player position abbreviation
        height:
          type: string
          description: Player height
        weight:
          type: string
          description: Player weight
        jersey_number:
          type: string
          description: Player jersey number
        college:
          type: string
          description: Player college
        age:
          type: integer
          description: Player age
        team:
          $ref: '#/components/schemas/WNBATeam'

    WNBAGame:
      type: object
      properties:
        id:
          type: integer
          description: Game ID
        date:
          type: string
          format: date-time
          description: Game date and time
        season:
          type: integer
          description: Season year
        postseason:
          type: boolean
          description: Whether this is a postseason game
        status:
          type: string
          description: Game status
        period:
          type: integer
          description: Current period
        time:
          type: string
          description: Time remaining in period
        home_team:
          $ref: '#/components/schemas/WNBATeam'
        visitor_team:
          $ref: '#/components/schemas/WNBATeam'
        home_score:
          type: integer
          description: Home team score
        away_score:
          type: integer
          description: Away team score

    WNBAPlayerStat:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/WNBAPlayer'
        team:
          $ref: '#/components/schemas/WNBATeam'
        game:
          type: object
          properties:
            id:
              type: integer
            date:
              type: string
              format: date-time
            season:
              type: integer
        min:
          type: string
          description: Minutes played
        fgm:
          type: integer
          description: Field goals made
        fga:
          type: integer
          description: Field goals attempted
        fg3m:
          type: integer
          description: Three-pointers made
        fg3a:
          type: integer
          description: Three-pointers attempted
        ftm:
          type: integer
          description: Free throws made
        fta:
          type: integer
          description: Free throws attempted
        oreb:
          type: integer
          description: Offensive rebounds
        dreb:
          type: integer
          description: Defensive rebounds
        reb:
          type: integer
          description: Total rebounds
        ast:
          type: integer
          description: Assists
        stl:
          type: integer
          description: Steals
        blk:
          type: integer
          description: Blocks
        turnover:
          type: integer
          description: Turnovers
        pf:
          type: integer
          description: Personal fouls
        pts:
          type: integer
          description: Points scored
        plus_minus:
          type: integer
          description: Plus/minus rating

    WNBATeamStat:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/WNBATeam'
        game:
          type: object
          properties:
            id:
              type: integer
            date:
              type: string
              format: date-time
            season:
              type: integer
        fgm:
          type: integer
          description: Field goals made
        fga:
          type: integer
          description: Field goals attempted
        fg_pct:
          type: number
          description: Field goal percentage
        fg3m:
          type: integer
          description: Three-pointers made
        fg3a:
          type: integer
          description: Three-pointers attempted
        fg3_pct:
          type: number
          description: Three-point percentage
        ftm:
          type: integer
          description: Free throws made
        fta:
          type: integer
          description: Free throws attempted
        ft_pct:
          type: number
          description: Free throw percentage
        oreb:
          type: integer
          description: Offensive rebounds
        dreb:
          type: integer
          description: Defensive rebounds
        reb:
          type: integer
          description: Total rebounds
        ast:
          type: integer
          description: Assists
        stl:
          type: integer
          description: Steals
        blk:
          type: integer
          description: Blocks
        turnovers:
          type: integer
          description: Turnovers
        fouls:
          type: integer
          description: Team fouls

    WNBAPlayerSeasonStat:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/WNBAPlayer'
        team:
          $ref: '#/components/schemas/WNBATeam'
        season:
          type: integer
          description: Season year
        season_type:
          type: integer
          description: Season type (2=regular, 3=playoffs)
        games_played:
          type: integer
          description: Games played
        min:
          type: number
          description: Average minutes per game
        fgm:
          type: number
          description: Average field goals made
        fga:
          type: number
          description: Average field goals attempted
        fg_pct:
          type: number
          description: Field goal percentage
        fg3m:
          type: number
          description: Average three-pointers made
        fg3a:
          type: number
          description: Average three-pointers attempted
        fg3_pct:
          type: number
          description: Three-point percentage
        ftm:
          type: number
          description: Average free throws made
        fta:
          type: number
          description: Average free throws attempted
        ft_pct:
          type: number
          description: Free throw percentage
        reb:
          type: number
          description: Average rebounds
        ast:
          type: number
          description: Average assists
        stl:
          type: number
          description: Average steals
        blk:
          type: number
          description: Average blocks
        turnover:
          type: number
          description: Average turnovers
        pts:
          type: number
          description: Average points

    WNBATeamSeasonStat:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/WNBATeam'
        season:
          type: integer
          description: Season year
        season_type:
          type: integer
          description: Season type (2=regular, 3=playoffs)
        games_played:
          type: integer
          description: Games played
        fgm:
          type: number
          description: Average field goals made
        fga:
          type: number
          description: Average field goals attempted
        fg_pct:
          type: number
          description: Field goal percentage
        fg3m:
          type: number
          description: Average three-pointers made
        fg3a:
          type: number
          description: Average three-pointers attempted
        fg3_pct:
          type: number
          description: Three-point percentage
        ftm:
          type: number
          description: Average free throws made
        fta:
          type: number
          description: Average free throws attempted
        ft_pct:
          type: number
          description: Free throw percentage
        oreb:
          type: number
          description: Average offensive rebounds
        dreb:
          type: number
          description: Average defensive rebounds
        reb:
          type: number
          description: Average total rebounds
        ast:
          type: number
          description: Average assists
        stl:
          type: number
          description: Average steals
        blk:
          type: number
          description: Average blocks
        turnover:
          type: number
          description: Average turnovers
        pts:
          type: number
          description: Average points

    WNBAStanding:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/WNBATeam'
        season:
          type: integer
          description: Season year
        conference:
          type: string
          description: Conference name
        wins:
          type: integer
          description: Number of wins
        losses:
          type: integer
          description: Number of losses
        win_percentage:
          type: number
          description: Win percentage
        games_behind:
          type: number
          description: Games behind leader
        home_record:
          type: string
          description: Home record
        away_record:
          type: string
          description: Away record
        conference_record:
          type: string
          description: Conference record
        playoff_seed:
          type: integer
          description: Playoff seed

    WNBAPlayerInjury:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/WNBAPlayer'
        status:
          type: string
          description: Injury status
        return_date:
          type: string
          description: Estimated return date
        comment:
          type: string
          description: Injury details

    WNBAPlay:
      type: object
      properties:
        game_id:
          type: integer
          description: Game ID
        order:
          type: integer
          description: Play order number (starts at 1 and increments sequentially)
        type:
          type: string
          description: Play type
        text:
          type: string
          description: Play description
        home_score:
          type: integer
          description: Home team score after play
        away_score:
          type: integer
          description: Away team score after play
        period:
          type: integer
          description: Period number
        clock:
          type: string
          description: Game clock
        scoring_play:
          type: boolean
          description: Whether this is a scoring play
        score_value:
          type: integer
          description: Points scored on this play
        team:
          $ref: '#/components/schemas/WNBATeam'

    # NHL Components
    NHLTeam:
      type: object
      properties:
        id:
          type: integer
        full_name:
          type: string
        tricode:
          type: string
        conference_name:
          type: string
          nullable: true
        division_name:
          type: string
          nullable: true
        season:
          type: integer
          nullable: true

    NHLPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        full_name:
          type: string
          nullable: true
        position_code:
          type: string
        shoots_catches:
          type: string
          nullable: true
        height_in_inches:
          type: integer
          nullable: true
        weight_in_pounds:
          type: integer
          nullable: true
        birth_date:
          type: string
          nullable: true
        birth_place:
          type: string
          nullable: true
        headshot_url:
          type: string
          nullable: true
        teams:
          type: array
          items:
            $ref: '#/components/schemas/NHLTeam'
          nullable: true
        sweater_number:
          type: integer
          nullable: true

    NHLGame:
      type: object
      properties:
        id:
          type: integer
        season:
          type: integer
        game_date:
          type: string
          format: date
        start_time_utc:
          type: string
          nullable: true
        home_team:
          $ref: '#/components/schemas/NHLTeam'
        away_team:
          $ref: '#/components/schemas/NHLTeam'
        home_sog:
          type: integer
          nullable: true
        away_sog:
          type: integer
          nullable: true
        home_score:
          type: integer
          nullable: true
        away_score:
          type: integer
          nullable: true
        venue:
          type: string
          nullable: true
        venue_location:
          type: string
          nullable: true
        game_state:
          type: string
          nullable: true
        period:
          type: integer
          nullable: true
        time_remaining:
          type: string
          nullable: true
        postseason:
          type: boolean

    NHLStanding:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/NHLTeam'
        season:
          type: integer
        conference_name:
          type: string
        division_name:
          type: string
        games_played:
          type: integer
        points:
          type: integer
        regulation_wins:
          type: integer
        regulation_plus_ot_wins:
          type: integer
        wins:
          type: integer
        losses:
          type: integer
        ot_losses:
          type: integer
        points_pctg:
          type: number
        goals_for:
          type: integer
        goals_against:
          type: integer
        goal_differential:
          type: integer
        home_record:
          type: string
        road_record:
          type: string
        streak:
          type: string
          nullable: true

    NHLBoxScore:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/NHLPlayer'
        team:
          $ref: '#/components/schemas/NHLTeam'
        game:
          $ref: '#/components/schemas/NHLGame'
        position:
          type: string
        goals:
          type: integer
          nullable: true
        assists:
          type: integer
          nullable: true
        points:
          type: integer
          nullable: true
        plus_minus:
          type: integer
          nullable: true
        penalty_minutes:
          type: integer
          nullable: true
        power_play_goals:
          type: integer
          nullable: true
        shots_on_goal:
          type: integer
          nullable: true
        faceoff_winning_pctg:
          type: number
          nullable: true
        time_on_ice:
          type: string
          nullable: true
        blocked_shots:
          type: integer
          nullable: true
        hits:
          type: integer
          nullable: true
        shifts:
          type: integer
          nullable: true
        giveaways:
          type: integer
          nullable: true
        takeaways:
          type: integer
          nullable: true
        sweater_number:
          type: integer
          nullable: true
        saves:
          type: integer
          nullable: true
        shots_against:
          type: integer
          nullable: true
        save_pctg:
          type: number
          nullable: true
        goals_against:
          type: integer
          nullable: true
        starter:
          type: boolean
          nullable: true
        decision:
          type: string
          nullable: true

    NHLPlayerSeasonStat:
      type: object
      properties:
        value:
          type: number
        name:
          type: string

    NHLTeamSeasonStat:
      type: object
      properties:
        value:
          type: number
        name:
          type: string

    NHLPlayerStatLeader:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/NHLPlayer'
        name:
          type: string
        value:
          type: number
        season:
          type: integer
        postseason:
          type: boolean

    NHLTeamStatLeader:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/NHLTeam'
        name:
          type: string
        value:
          type: number
        season:
          type: integer
        postseason:
          type: boolean

    NHLBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value (puck line)
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value (puck line)
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total goals line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        updated_at:
          type: string
          format: date-time

    NHLPlayerPropMarketOverUnder:
      type: object
      description: Over/under market type for NHL player props
      required:
        - type
        - over_odds
        - under_odds
      properties:
        type:
          type: string
          enum: [over_under]
          description: Market type identifier
        over_odds:
          type: integer
          description: American odds for over bet
        under_odds:
          type: integer
          description: American odds for under bet

    NHLPlayerPropMarketMilestone:
      type: object
      description: Milestone market type for NHL player props
      required:
        - type
        - odds
      properties:
        type:
          type: string
          enum: [milestone]
          description: Market type identifier
        odds:
          type: integer
          description: American odds for milestone bet

    NHLPlayerProp:
      type: object
      description: NHL player prop betting data
      required:
        - id
        - game_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          description: Unique player prop ID
        game_id:
          type: integer
          description: NHL game ID
        player_id:
          type: integer
          description: NHL player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - fanduel
            - draftkings
            - caesars
        prop_type:
          type: string
          description: Type of player prop
          enum:
            - anytime_goal
            - anytime_goal_1p
            - anytime_goal_2p
            - anytime_goal_3p
            - assists
            - first_goal
            - first_goal_2p
            - first_goal_3p
            - goals
            - last_goal
            - overtime_goal
            - points
            - points_1p
            - points_2p
            - points_3p
            - power_play_points
            - saves
            - second_goal
            - shots_on_goal
            - shots_on_goal_1p
            - shots_on_goal_2p
            - shots_on_goal_3p
            - third_goal
          example: points
        line_value:
          type: string
          description: The line value for the prop
          example: "1.5"
        market:
          oneOf:
            - $ref: "#/components/schemas/NHLPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/NHLPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated

    # NCAAF Components
    NCAAFConference:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        abbreviation:
          type: string

    NCAAFTeam:
      type: object
      properties:
        id:
          type: integer
        conference:
          type: string
        city:
          type: string
        name:
          type: string
        full_name:
          type: string
        abbreviation:
          type: string

    NCAAFPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
          nullable: true
        position_abbreviation:
          type: string
          nullable: true
        height:
          type: string
          nullable: true
        weight:
          type: string
          nullable: true
        jersey_number:
          type: string
          nullable: true
        team:
          $ref: '#/components/schemas/NCAAFTeam'

    NCAAFGame:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        season:
          type: integer
        week:
          type: integer
        status:
          type: string
          nullable: true
        period:
          type: integer
        time:
          type: string
          nullable: true
        home_team:
          $ref: '#/components/schemas/NCAAFTeam'
        visitor_team:
          $ref: '#/components/schemas/NCAAFTeam'
        home_score_q1:
          type: integer
          nullable: true
        home_score_q2:
          type: integer
          nullable: true
        home_score_q3:
          type: integer
          nullable: true
        home_score_q4:
          type: integer
          nullable: true
        home_score_ot:
          type: integer
          nullable: true
        away_score_q1:
          type: integer
          nullable: true
        away_score_q2:
          type: integer
          nullable: true
        away_score_q3:
          type: integer
          nullable: true
        away_score_q4:
          type: integer
          nullable: true
        away_score_ot:
          type: integer
          nullable: true
        home_score:
          type: integer
        away_score:
          type: integer

    NCAAFStanding:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/NCAAFTeam'
        conference:
          $ref: '#/components/schemas/NCAAFConference'
        season:
          type: integer
        wins:
          type: integer
        losses:
          type: integer
        win_percentage:
          type: number
          nullable: true
        games_behind:
          type: number
          nullable: true
        home_record:
          type: string
          nullable: true
        away_record:
          type: string
          nullable: true
        conference_record:
          type: string
          nullable: true

    NCAAFRanking:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/NCAAFTeam'
        season:
          type: integer
        week:
          type: integer
        rank:
          type: integer
        first_place_votes:
          type: integer
          nullable: true
        points:
          type: integer
          nullable: true
        trend:
          type: string
          nullable: true
        record:
          type: string
          nullable: true

    NCAAFPlayerStat:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/NCAAFPlayer'
        team:
          $ref: '#/components/schemas/NCAAFTeam'
        game:
          $ref: '#/components/schemas/NCAAFGame'
        passing_completions:
          type: integer
          nullable: true
        passing_attempts:
          type: integer
          nullable: true
        passing_yards:
          type: integer
          nullable: true
        passing_touchdowns:
          type: integer
          nullable: true
        passing_interceptions:
          type: integer
          nullable: true
        passing_qbr:
          type: number
          nullable: true
        passing_rating:
          type: number
          nullable: true
        rushing_attempts:
          type: integer
          nullable: true
        rushing_yards:
          type: integer
          nullable: true
        rushing_touchdowns:
          type: integer
          nullable: true
        rushing_long:
          type: integer
          nullable: true
        receptions:
          type: integer
          nullable: true
        receiving_yards:
          type: integer
          nullable: true
        receiving_touchdowns:
          type: integer
          nullable: true
        receiving_targets:
          type: integer
          nullable: true
        receiving_long:
          type: integer
          nullable: true
        total_tackles:
          type: integer
          nullable: true
        solo_tackles:
          type: integer
          nullable: true
        tackles_for_loss:
          type: number
          nullable: true
        sacks:
          type: number
          nullable: true
        interceptions:
          type: integer
          nullable: true
        passes_defended:
          type: integer
          nullable: true

    NCAAFTeamStat:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/NCAAFTeam'
        game:
          type: object
          properties:
            id:
              type: integer
            date:
              type: string
              format: date-time
            season:
              type: integer
            week:
              type: integer
        first_downs:
          type: integer
          nullable: true
        third_down_efficiency:
          type: string
          nullable: true
        fourth_down_efficiency:
          type: string
          nullable: true
        passing_yards:
          type: integer
          nullable: true
        rushing_yards:
          type: integer
          nullable: true
        total_yards:
          type: integer
          nullable: true
        turnovers:
          type: integer
          nullable: true
        penalties:
          type: integer
          nullable: true
        penalty_yards:
          type: integer
          nullable: true
        possession_time:
          type: string
          nullable: true

    NCAAFPlayerSeasonStat:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/NCAAFPlayer'
        team:
          $ref: '#/components/schemas/NCAAFTeam'
        season:
          type: integer
        passing_completions:
          type: integer
          nullable: true
        passing_attempts:
          type: integer
          nullable: true
        passing_yards:
          type: integer
          nullable: true
        passing_touchdowns:
          type: integer
          nullable: true
        passing_interceptions:
          type: integer
          nullable: true
        passing_yards_per_game:
          type: number
          nullable: true
        passing_rating:
          type: number
          nullable: true
        rushing_attempts:
          type: integer
          nullable: true
        rushing_yards:
          type: integer
          nullable: true
        rushing_touchdowns:
          type: integer
          nullable: true
        rushing_yards_per_game:
          type: number
          nullable: true
        rushing_avg:
          type: number
          nullable: true
        receptions:
          type: integer
          nullable: true
        receiving_yards:
          type: integer
          nullable: true
        receiving_touchdowns:
          type: integer
          nullable: true
        receiving_yards_per_game:
          type: number
          nullable: true
        receiving_avg:
          type: number
          nullable: true
        total_tackles:
          type: integer
          nullable: true
        solo_tackles:
          type: integer
          nullable: true
        tackles_for_loss:
          type: number
          nullable: true
        sacks:
          type: number
          nullable: true
        interceptions:
          type: integer
          nullable: true
        passes_defended:
          type: integer
          nullable: true

    NCAAFTeamSeasonStat:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/NCAAFTeam'
        season:
          type: integer
        passing_yards:
          type: number
          nullable: true
        passing_yards_per_game:
          type: number
          nullable: true
        passing_touchdowns:
          type: number
          nullable: true
        passing_interceptions:
          type: number
          nullable: true
        passing_qb_rating:
          type: number
          nullable: true
        rushing_yards:
          type: number
          nullable: true
        rushing_yards_per_game:
          type: number
          nullable: true
        rushing_touchdowns:
          type: number
          nullable: true
        receiving_yards:
          type: number
          nullable: true
        receiving_touchdowns:
          type: number
          nullable: true
        opp_passing_yards:
          type: number
          nullable: true
        opp_rushing_yards:
          type: number
          nullable: true

    NCAAFPlay:
      type: object
      properties:
        game_id:
          type: integer
        order:
          type: integer
          description: Play order number (starts at 1 and increments sequentially)
        type:
          type: string
          nullable: true
        text:
          type: string
        home_score:
          type: integer
        away_score:
          type: integer
        period:
          type: integer
        clock:
          type: string
          nullable: true
        scoring_play:
          type: boolean
        score_value:
          type: integer
          nullable: true
        team:
          $ref: '#/components/schemas/NCAAFTeam'
          nullable: true

    NCAAFBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total points line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    # NCAAB Components
    NCAABConference:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        short_name:
          type: string

    NCAABTeam:
      type: object
      properties:
        id:
          type: integer
        conference_id:
          type: integer
          nullable: true
        name:
          type: string
        full_name:
          type: string
        college:
          type: string
          nullable: true
        abbreviation:
          type: string
[...]
